* {
  font-family: "JetBrainsMono Nerd Font";
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.notification {
  background: rgba(13, 13, 13, 0.7);
  border-radius: 15px;
  margin: 8px;
  padding: 0;
  border: 2px solid #bbb7c7;
}

.notification-content {
  background: transparent;
  padding: 15px;
  border-radius: 15px;
}

.notification-icon {
  -gtk-icon-style: symbolic;
  min-width: 48px;
  min-height: 48px;
  border-radius: 8px;
}

.close-button {
  background: #bbb7c7;
  color: #47373f;
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
}

.close-button:hover {
  background: #c5b9cf;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.summary {
  font-size: 14px;
  font-weight: bold;
  color: #bbb7c7;
  margin-bottom: 4px;
}

.body {
  font-size: 12px;
  color: #ede5ef;
}

.control-center {
  background: rgba(13, 13, 13, 0.7);
  border: 2px solid #bbb7c7;
  border-radius: 15px;
  margin: 10px;
}

.control-center-list {
  background: transparent;
}

.widget-title {
  background: transparent;
  color: #bbb7c7;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.widget-title > button {
  background: #bbb7c7;
  color: #47373f;
  border-radius: 8px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
}

.widget-title > button:hover {
  background: #c5b9cf;
}

.widget-dnd {
  background: transparent;
  color: #ede5ef;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
}

.widget-dnd > switch {
  background: #a5a0a7;
  border-radius: 12px;
}

.widget-dnd > switch:checked {
  background: #bbb7c7;
}

.blank-window {
  background: transparent;
}
