* {
  font-family: "JetBrainsMono Nerd Font";
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.notification {
  background: rgba(13, 13, 13, 0.7);
  border-radius: 15px;
  margin: 8px;
  padding: 0;
  border: 2px solid #5C81BF;
}

.notification-content {
  background: transparent;
  padding: 15px;
  border-radius: 15px;
}

.notification-icon {
    -gtk-icon-style: symbolic;
    min-width: 48px;
    min-height: 48px;
    border-radius: 8px;
}

.close-button {
  background: #5C81BF;
  color: #271b3c;
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
}

.close-button:hover {
  background: #6B88C8;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.summary {
  font-size: 14px;
  font-weight: bold;
  color: #5C81BF;
  margin-bottom: 4px;
}

.body {
  font-size: 12px;
  color: #f6dce1;
}

.control-center {
  background: rgba(13, 13, 13, 0.7);
  border: 2px solid #5C81BF;
  border-radius: 15px;
  margin: 10px;
}

.control-center-list {
  background: transparent;
}

.widget-title {
  background: transparent;
  color: #5C81BF;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.widget-title > button {
  background: #5C81BF;
  color: #271b3c;
  border-radius: 8px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
}

.widget-title > button:hover {
  background: #6B88C8;
}

.widget-dnd {
  background: transparent;
  color: #f6dce1;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
}

.widget-dnd > switch {
  background: #ac9a9d;
  border-radius: 12px;
}

.widget-dnd > switch:checked {
  background: #5C81BF;
}

.blank-window {
  background: transparent;
}
